:root {
    --color00: #1d1d1d;
    --color01: #1d1d1d;
    --color02: #1d1d1d;
    --color03: #a3a3b3;
    --color04: #f0f1f6;
    --color05: #e4e6eb;
    --color06: #f0f1f6;
    --color07: #f0f1f6;
    --color08: #f28a8a;
    --color09: #ffb58a;
    --color0A: #ffc4a2;
    --color0B: #92c88b;
    --color0C: #c89bff;
    --color0D: #8ab8ff;
    --color0E: #ff9be2;
    --color0F: #f79999;
}