window {
    background: #1d1d1d; /* base01 */
    border-color: #212126; /* base02 */
    border: 2px solid #212126;
}

button,
image {
    color: #E9ECF2; /* base07 */
}

button {
    color: #A3A3B3; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(33, 33, 38, 0.5); /* base02 */
}