@define-color selected-text #FFB58A;
@define-color selected-vibrant #FFC4A2;
@define-color text #DCDFE4;
@define-color base #1d1d1d;
@define-color border #212126;
@define-color foreground #DCDFE4;
@define-color background #1d1d1d;