@define-color selected-text #ffffff;
@define-color text #e6e1dc;
@define-color base #2b2b2b;
@define-color border #6a6a6a;
@define-color foreground #e6e1dc;
@define-color background #2b2b2b;

.box-wrapper {
  border-radius: 10px;
}
