@define-color selected-text #fdfbf9;
@define-color text #a3a2a2;
@define-color base #242424;
@define-color border #3B3B3B;
@define-color foreground #fdfbf9;
@define-color background #242424;

.box-wrapper, .search-container{
  border-radius: 20px;
  border: 1px solid @border;
}
