/* @define-color foreground #996600; */
/* @define-color background #1A1612; */
@define-color foreground #d4d4d4;
/* @define-color background rgba(28,14,0,0.15); */
@define-color background rgba(28,28,28,0.0);
@define-color bg-2 rgba(28,28,28,0.0);


/*********** Custom Styling ****************/

* {
  color: @foreground;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 12px;
  font-weight: bold;
}

#waybar {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: inset 0px 20px 5px 1px rgba(28,28,28, 0.25);
}

#workspaces button.active {
    color: #C93F16;
    background-color: rgba(-1,0,0,0.0);
}

#workspaces button.active label {
    color: #5277A8; /* More specific selector for text */
    font-weight: bold;
}

#workspaces button.urgent {
    color: #C93F16;
    background-color: rgba(-1,0,0,0.0);
}






/*********** Omarchy Styles (overrides) ****************/

* {
  /* background-color: @background; */
  /* color: @foreground; */

  /* border: none; */
  /* border-radius: 10; */
  /* min-height: 0; */
  /* font-family: CaskaydiaMono Nerd Font Propo; */
  /* font-family: JetBrains Nerd Font Propo; */
  /* font-size: 12px; */
}

.modules-left {
  /* margin-left: 8px; */
}

.modules-right {
  /* margin-right: 8px; */
}

#workspaces button {
  /* all: initial; */
  /* padding: 0 6px; */
  /* margin: 0 1.5px; */
  /* min-width: 9px; */
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power-menu {
 /* min-width: 12px; */
 /* margin: 0 7.5px; */
}

#custom-expand-icon {
  /* margin-right: 12px; */
}

tooltip {
  /* padding: 2px; */
}

