@define-color background rgba(29, 29, 29, 0.9);
@define-color transparentbg rgba(0, 0, 0, 0);
@define-color foreground #DCDFE4;
@define-color black #1d1d1d;
@define-color red #F28A8A;
@define-color green #92C88B;
@define-color yellow #FFB58A;
@define-color blue #8AB8FF;
@define-color magenta #FF9BE2;
@define-color cyan #C89BFF;
@define-color white #A3A3B3;
@define-color bright_black #212126;
@define-color bright_red #F79999;
@define-color bright_green #A0D0A0;
@define-color bright_yellow #FFC4A2;
@define-color bright_blue #ADC8FF;
@define-color bright_magenta #FFB0F0;
@define-color bright_cyan #D0AAFF;
@define-color bright_white #E9ECF2;
