@define-color bg #242424;
@define-color fg #fdfbf9;
@define-color bg_secondary #8c9379;
@define-color fg_dim #8c9379;
@define-color accent #fdfbf9;
@define-color muted #8c9379;
@define-color selection #8c9379;
@define-color border #3B3B3B;


window {
    background-color: @bg;
    border: 1px solid @border;
    border-radius: 20px;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @muted;
}

input:selected {
    background-color: @selection;
    color: @accent;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @selection;
    color: @accent;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @muted;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @border;
}
