@define-color bg #2b2b2b;
@define-color fg #e6e1dc;
@define-color bg_secondary #404040;
@define-color fg_dim #8d8d8d;
@define-color accent #ffffff;
@define-color muted #5a5a5a;
@define-color selection #404040;
@define-color border #6a6a6a;


window {
    background-color: @bg;
    border: 1px solid @border;
    border-radius: 10px;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @muted;
}

input:selected {
    background-color: @selection;
    color: @accent;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @selection;
    color: @accent;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @muted;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @border;
}
