:root {
--color00: #1d1d1d;
--color01: #1d1d1d;
--color02: #1d1d1d;
--color03: #A3A3B3;
--color04: #E9ECF2;
--color05: #DCDFE4;
--color06: #E9ECF2;
--color07: #E9ECF2;
--color08: #F28A8A;
--color09: #FFB58A;
--color0A: #FFC4A2;
--color0B: #92C88B;
--color0C: #C89BFF;
--color0D: #8AB8FF;
--color0E: #FF9BE2;
--color0F: #F79999;
}